<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kezdőlap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a th:href="@{/index}" id="logo">Java Gyakorlat beadandó</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a th:href="@{/index}">Kezdőlap</a></li>
                <li><a th:href="@{/kinalat}">Kínálat</a></li>
                <li><a th:href="@{/kapcsolat}">Kapcsolat</a></li>
                <li><a th:href="@{/uzenetek}">Üzenetek</a></li>
                <li><a th:href="@{/diagram}">Diagram</a></li>
                <li><a th:href="@{/crud}">CRUD</a></li>
                <li th:insert="menu :: menu"></li>
            </ul>
        </nav>

    </div>

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
        <div class="container">
            <header class="major">
                <h2>Cukrászda</h2>
                <p>Cukrászdánk weboldala elkészült. Alább láthatóak az elérhető funkciók:</p>
            </header>
        </div>
    </section>

    <section class="wrapper style1">
        <div class="container">
            <div class="row">
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>Kínálat</h3>
                            <p>A kínálat oldalon láthatóak az elérhető sütik, tartalmaznak-e allergén anyagokat, árukat, és egységüket</p>
                        </div>
                    </div>
                </section>
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>Kapcsolat</h3>
                            <p>A kapcsolat oldalon üzenet küldhető az ütemeltetők felé.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>Üzenetek</h3>
                            <p>Az üzenetek menüre kattintva láthatóak az üzemeltetőnek küldött üzenetek a bejelntkezett felhasználók számára.</p>
                        </div>
                    </div>
                </section>
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>Diagram</h3>
                            <p>A diagram menüben leosztva látható mennyi sütemény található típusra bontva.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>CRUD</h3>
                            <p>A CRUD menüben hozzáadható, törölhető, módosíthatóak a sütik mentességei.</p>
                        </div>
                    </div>
                </section>
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
                        <div class="inner">
                            <h3>Admin menü</h3>
                            <p>Csak adminok tudják látni a tartalmát.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

        <!-- Footer -->
        <div id="footer">
            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Szebeni Szabolcs, Tóth Szabolcs Botond java gyakorlat beadandó</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>