<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kínálat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a th:href="@{/index}" id="logo">Java Gyakorlat beadandó</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a th:href="@{/index}">Kezdőlap</a></li>
                <li class="current"><a th:href="@{/kinalat}">Kínálat</a></li>
                <li><a th:href="@{/kapcsolat}">Kapcsolat</a></li>
                <li><a th:href="@{/uzenetek}">Üzenetek</a></li>
                <li><a th:href="@{/diagram}">Diagram</a></li>
                <li><a th:href="@{/crud}">CRUD</a></li>
                <li th:insert="menu :: menu"></li>

            </ul>
        </nav>

    </div>

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
        <div class="container">
            <header class="major">
                <h1>Elérhető kínálat(táblák megjelenítése )</h1>
            </header>
        </div>
        <!--<div th:insert="menu"></div>-->
    </section>




    <section class="wrapper style1">
        <div class="container">
            <table>
                <tr>
                    <th>Süti</th>
                    <th>Tartalom</th>
                    <th>Ár</th>
                    <th>Egység</th>

                </tr>

                <tr th:each="s : ${adatok}">
                    <td th:text="${s[0].nev}"></td>
                    <td th:text="${s[1] != null ? s[1].mentes : ''}"></td>
                    <td th:text="${s[2]}"></td>
                    <td th:text="${s[3]}"></td>
                </tr>
            </table>
        </div>
    </section>

        <!-- Footer -->
        <div id="footer">
            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Szebeni Szabolcs, Tóth Szabolcs Botond java gyakorlat beadandó</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>