<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kezdőlap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a href="/index" id="logo">Java Gyakorlat beadandó</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/index">Kezdőlap</a></li>
                <li><a href="/kinalat">Kínálat</a></li>
                <li ><a href="/kapcsolat">Kapcsolat</a></li>
                <li><a href="/uzenetek">Üzenetek</a></li>
                <li><a href="/diagram">Diagram</a></li>
                <li class="current"><a href="/crud">CRUD</a></li>
                <li><a href="/restful">Restful</a></li>
                <li><a href="/Admin">Admin menü</a></li>

            </ul>
        </nav>

    </div>

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
        <div class="container">
            <header class="major">
                <h2>Módosít</h2>
            </header>
        </div>
    </section>

    <section class="wrapper style1">
        <div>
            <form action="#" th:action="@{/modosit}" th:object="${tartalom}" method="post">
                <p>Sütiid:<input type="text" th:field="*{sutiid}" value= "${tartalom.sutiid}" required/></p>
                <p>Mentes:<input type="text" th:field="*{mentes}" value= "${tartalom.mentes}" required/></p>
                <p><input type="submit" value="Módosít" /></p>
            </form>
        </div>>
    </section>

        <!-- Footer -->
        <div id="footer">
            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Szebeni Szabolcs java gyakorlat beadandó</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>